#banner {
  background-image: image-url('background.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  display:flex;
  background-size: cover;
  align-items:center;
  justify-content: center;

  h1 {
    font-size: 70px;
    color: white;
    font-family: $brandon-light;
  }
  p {
    font-size: 25px;
    font-weight: 100;
  }
}
.card{
  padding: 10px;
  font-weight: 300;
  h2{
    font-size: 22px;
  }
}

#banner, #description, #newsletter {
  position: relative;
}

#newsletter h2 {
  margin-top: 1em;
  text-transform: upcase;
  font-size: 60px;
  font-family: $brandon-light;
}

.scroll-btn{
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 60px;
  color: white;
  &:hover{
    color: white;
  }
}

.partenaires{
  padding-top: 1em;
  text-align:center;
  background: white !important;
    h1 {
   text-align:center;
   font-size: 40px;
   color: black;
   font-family: $brandon-light;
 }
}

.partenaires-images{
  display:flex;
  justify-content:space-around;
  padding:3em;
}

.style_image_partenaire{
 height: 100px;
}


.cyclo{
  padding:2em;

  h1 {
   text-align:center;
   padding-bottom: 1em;
   font-size: 40px;
   color: black;
   font-family: $brandon-light;

 }
}

.media {
  display: flex;
  background: #f9f9f9;
  color: wh#ite;
  h2 {
  color: #bbb;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin: 0 0 16px;
  text-transform: uppercase;
  }
  p{
    color:#333333;
  }
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 250px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  color: $black;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

.share-links {
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.share-link {
  flex: 0 0 48%;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}


.banner {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.banner h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
}

.banner_strava {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-image: image-url('background_strava.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.banner_strava  h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.banner_strava  p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
}












