---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>You're <a href="https://www.lewagon.com">Le Wagon</a>'s boilerplate!</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->

    <div><p>on test pleun de trucs t'es sur de ton coup</p></div>

</div><!-- .welcome -->

<div class="container" id="pricing">
  <div class="row">
    <h1>Les Partenaires du trophee</h1>
    <% data.pens.each do |pen| %>
      <%= partial(:pen, locals: {pen: pen}) %>
    <% end %>
  </div>
</div>
