---
title: Trophee Assurances Vélo
---

<div id="banner" class="smooth-scrollable">
  <div class="fade-and-slide">
    <h1>Trophée Assurances Vélo</h1>
    <p>Auvergne, Bourgogne et Centre</p>
    <br>
    <a href="#description" class="btn-medium">Voir le Trophée</a>
  </div>
</div>



<!-- <div class="cyclo" id="description"> -->
<div class="container cyclo" id="description">
  <div class="row">
    <h1>Les Cyclos partenaires</h1>
    <% data.bases.each do |base| %>
    <div class="col-xs-12 col-md-6">
      <%= partial(:base, locals: {base: base}) %>
      <br>
    </div>
    <% end %>
  </div>
</div>
<!-- </div> -->


<div class="banner_strava ">
  <div class="banner-content">
    <h1>Rejoindre la communauté de cyclistes</h1>
    <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-12"><iframe height='454' width='350' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/assurancesvelo/latest-rides/9661f9604e3ed07d1371244f9b3f8d77c7916239?show_rides=true'></iframe></div>
          <a class="btn btn-medium" style="color:white; border: 2px solid white">Rejoindre la communauté sur Strava</a>
        </div>
      </div>
  </div>
</div>


<div class="carte">
  <div id="map" style="width: 100%; height: 400px;"></div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYoBt2ZxvwQev49mJkq7GbSBYXFsiocU4&callback=initMap"></script>
  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.852937,2.364178);

    var myOptions = {
      zoom: 6,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"water","stylers":[{"color":"#19a0d8"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"weight":6}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#e85113"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#efe9e4"},{"lightness":-40}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#efe9e4"},{"lightness":-20}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"lightness":-100}]},{"featureType":"road.highway","elementType":"labels.icon"},{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"landscape","stylers":[{"lightness":20},{"color":"#efe9e4"}]},{"featureType":"landscape.man_made","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"lightness":-100}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"hue":"#11ff00"}]},{"featureType":"poi","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"hue":"#4cff00"},{"saturation":58}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#f0e4d3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#efe9e4"},{"lightness":-25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#efe9e4"},{"lightness":-10}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"simplified"}]}]
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
    });
  </script>
</div>

<div class="banner">
  <div class="banner-content">
    <h1>De nombreux lots à gagner</h1>
    <br>
    <a class="btn btn-medium" style="color:white; border: 3px solid white">Voir les lots</a>
  </div>
</div>

<div class="container" id="pricing">
  <div class="row">
    <h1>Les Partenaires</h1>
    <% data.pens.each do |pen| %>
      <%= partial(:pen, locals: {pen: pen}) %>
    <% end %>
  </div>
</div>



<script>
  $(function() {
  // Smooth scroll
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });

  // Scroll reveal
  window.sr = new scrollReveal();

});
</script>
